<div class="container">
  <ul class="remove-decoration no-padding">
  <% @restaurants.each do |restaurant| %>
    <li class="list-card">
      <%= link_to restaurant.name, restaurant_path(restaurant), class: "remove-decoration restaurant-link" %>: 
      |<%= restaurant.category %>|
      <%= restaurant.phone_number %> - 
      <%= restaurant.address %>
    </li>
  <% end %>
  </ul>
  <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary" %>
</div>
