<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.category %></h3>
<h4><%= @restaurant.phone_number %></h4>
<h4><%= @restaurant.address %></h4>
<br>
<h2>Reviews</h2>
<ol>
  <% @restaurant.reviews.each do |review| %>
  <li>
    <%= review.content %> 
    Rating: <%= review.rating %>
  </li>
  <% end %>
</ol>
<br>
<%= render "review_form", { restaurant: @restaurant, review: @review } %>
<%= link_to "Back", restaurants_path, class: "btn btn-secondary" %>